coverage/
dist/
node_modules/
packages/*/example/*.js*
*.map
.nx/
packages/matrix-identity-server/matrix-server/synapse-data
**/.env

# nix/direnv
.direnv/

# docker dev env
.compose/synapse/media_store/
.compose/**/*.db*

